/* @font-face {
  font-family: "Ubuntu";
  src: url("/public/fonts/ubuntu/Ubuntu-Regular.ttf") format("truetype");
} */

* {
  font-family: 'Ubuntu', sans-serif;
}

.profile-panel {
  display: grid;
  grid-template-rows: 100%;
}

.profile-panel > div {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.theme {
  opacity: 0.6;
  z-index: -1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar {
  width: 330px;
}

.sidebar nav a {
  font-size: 1.25rem;
}

.profile-thumbnail {
  /* object-fit: none; Do not scale the image */
  object-position: center; /* Center the image within the element */
}

main {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}
